{% extends "layout.html" %}
{% set active_page = "jobs" %}
{% block title %}Tables materialization{% endblock %}
{% block head %} {{ super() }}
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='tauCharts.min.css') }}">
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='bootstrap.min.css') }}">
{% endblock %}
{%block content %}

    <div class="row">
        <div id="chart" style="
  width: 800px;
  height: 400px;
  margin: 0;
  padding: 0;" class="col"></div>

    </div>

{% endblock %}
{% block js %}
<script src="//cdn.jsdelivr.net/d3js/3.5.10/d3.min.js"></script>
<script src="{{ url_for('static', filename='lib/underscore-min.js') }}"
        type="text/javascript"></script>
<script src="{{ url_for('static', filename='lib/tauCharts.min.js') }}"
        type="text/javascript"></script>
<script>
    window.floor = '{{ floor }}' || moment().subtract(30, 'minutes').format('YYYY-MM-DD HH:mm');
    window.ceiling = '{{ ceiling }}' || moment().format('YYYY-MM-DD HH:mm');

</script>
<script src="{{ url_for('static', filename='currentJobs.js') }}"
        type="text/javascript"></script>
{% endblock %}