<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='lib/bootstrap.min.css') }}">
    <title>{% block title %}{% endblock %} — duro</title>
    <style>
        #stats {
            /*margin-left:auto;*/
            margin: 7px 0 auto auto;
            /*margin-right:0;*/
            text-align: right;
            font-size: smaller;
            /*margin-bottom: 10px;*/
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <ul class="nav nav-pills nav-fill justify-content-center">
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_page == 'jobs' else ''}}"
                   href="{{ '#' if active_page == 'jobs' else url_for('show_current') }}">
                    Current jobs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_page == 'tables' else ''}}"
                   href="{{ '#' if active_page == 'tables' else url_for('show_list') }}">
                    All tables
                </a>
            </li>
        </ul>
        <div id="stats">

        </div>
    </div>
{% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='lib/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='lib/tether.min.js') }}"
        type="text/javascript"></script>
<script src="{{ url_for('static', filename='lib/bootstrap.min.js') }}"
        type="text/javascript"></script>
<script src="{{ url_for('static', filename='lib/moment.min.js') }}"
        type="text/javascript"></script>
<script src="{{ url_for('static', filename='stats.js') }}"
        type="text/javascript"></script>
{% block js %}{% endblock %}
</body>
</html>