{% extends "layout.html" %}
{% set active_page = "tables" %}
{% block title %}All tables{% endblock %}
{% block head %} {{ super() }}
<link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='lib/dataTables.bootstrap4.min.css') }}">
{% endblock %}
{%block content %}
<div class="row">
    <table class="table table-hover table-sm" id="tables">
        <thead>
        <tr>
            <th>Table</th>
            <th>Interval</th>
            <th>Last created</th>
            <th>Average time</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}

<script src="{{ url_for('static', filename='lib/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='listTables.js') }}"></script>
{% endblock %}